<!DOCTYPE html>
<html lang="tr">

<head>
    <% include ../partials/_head %>
</head>

<body>
    <% include ../partials/_header %>
    <% include ../partials/_body %>
    <% include ../partials/_footer %>
    
</body>
</html>